#app {
    --sliderTrackBgColor: hsl(180deg, 0%, 70%);
    --sliderThumbBgColor: hsl(190deg, 100%, 50%);
    --sliderThumbBorderColor: hsl(190deg, 100%, 30%);

    --numberInputSpinFontColor: #1c1c1c;
    --numberInputSpinBgColor: hsl(190deg, 100%, 90%);
    --numberInputSpinHoverColor: hsl(190deg, 100%, 75%);
    --numberInputSpinActiveColor: hsl(190deg, 100%, 50%);
    --numberInputSpinBorderColor: hsl(190deg, 100%, 30%);

    --colorPickerBorderColor: hsl(190deg, 100%, 30%);
    --colorTextBorderColor: hsl(190deg, 100%, 30%);
}